{% 
	set system_resource = {
		'head_resource': [
			'bootstrap'
		],
		'body_javascript': [
			'jquery',
			'bootstrap-bundle'
		]
	} 
%}

{% for block_name, resource in system_resource %}
	{% for resource_name in resource %}
		{% do __uss.app.removeSystemBlockContent(block_name, resource_name) %}
	{% endfor %}
{% endfor %}

{% extends 'base.html.twig' %}

{% set themeBase = __dashboard.meths.theme(null, __uss.ENUM.URL) %}

{% block head_meta %}
	{{ parent() }}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="user synthetics, dashboard, bootstrap 5">
{% endblock %}

{% block head_resource %}

	{{ parent() }}

	{% block head_links %}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
		<link rel="canonical" href="pages-blank.html" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
		<link class="js-stylesheet" href="{{ themeBase }}/css/light.css" rel="stylesheet">
	{% endblock %}

	{% block head_style %}
		<style>body {opacity: 0;}</style>
	{% endblock %}

{% endblock %}

{% block body_origin %}

	{% 
		set body_attributes = (body_attributes ?? [])|merge({
			'data-theme': 'default',
			'data-layout': 'fluid',
			'data-sidebar-position': 'left',
			'data-sidebar-layout': 'default'
		})
	%}

	{{ parent() }}

{% endblock %}

{% block body_main %}
	<div class="wrapper">

		{% block dashboard_sidebar %}
			{% include __uss.app.dirname(_self) ~ '/partials/sidebar.html.twig' %}
		{% endblock %}

		{% block dashboard_main %}
		<div class="main">
			
			{% block dashboard_header %}
				<nav class="navbar navbar-expand navbar-light navbar-bg">

					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>

					{% block header_search %}

						<form class="d-none d-sm-inline-block">
							<div class="input-group input-group-navbar">
								<input type="text" class="form-control" placeholder="Search…" aria-label="Search">
								<button class="btn" type="button">
									<i class="align-middle" data-feather="search"></i>
								</button>
							</div>
						</form>
						
					{% endblock %}
					
					{% include __uss.app.dirname(_self) ~ '/partials/header.html.twig' %}

				</nav>
			{% endblock %}

			{% block wrapper %}
			<main class="content">
				<div class="{{ content_container_class ?? 'container-fluid p-0' }}">

					<h1 class="h3 mb-3 d-none">Blank Page</h1>

					<div class="{{ content_row_class ?? 'row' }}">
						{% block dashboard_content %}
							{{ __uss.app.renderBlocks('dashboard_content', _context)|raw }}
						{% endblock %}
					</div>

				</div>
			</main>
			{% endblock %}

			{% block footer %}
				{% include __uss.app.dirname(_self) ~ '/partials/footer.html.twig' %}
			{% endblock %}

		</div>
		{% endblock %}
	</div>

{% endblock %}

{% block body_javascript %}

	<script src="{{ themeBase }}/js/app.js"></script>

	{{ parent() }}

    <script src="{{ __uss.meths.pathToUrl(__dashboard.immutable.ASSETS_DIR ~ '/js/data-magic.js') }}"></script>

	{% if user.isAvailable %}
    	<script src="{{ __uss.meths.pathToUrl(__dashboard.immutable.ASSETS_DIR ~ '/js/app-notification.js') }}"></script>
	{% endif %}

    <script src="{{ __dashboard.meths.theme('/js/main.js', __uss.ENUM.URL) }}"></script>

{% endblock %}