{% set unseen = user.notification.count({ 'seen': 0, 'hidden': 0 }) %}
{% set notifications = user.notification.get({ "hidden": 0 }, 0, 4) %}

<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bell fa-fw"></i>
    <span class="badge badge-danger badge-counter">{{ unseen }}</span>
</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
    aria-labelledby="alertsDropdown">

    <h6 class="dropdown-header">Alerts Center</h6>

    {% for item in notifications %}
        <a class="dropdown-item d-flex align-items-center" href="{{ item.redirect_url }}">
            <div class="mr-3">
                <div class="icon-circle">
                    <img src="{{ item.avatar ?? default_user_avatar }}" class="img-fluid"></img>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">
                    {{ item.period }}
                </div>
                <span class="font-weight-bold">
                    {{ item.message }}
                </span>
            </div>
        </a>
    {% endfor %}

    <!-- all alerts -->
    <a class="dropdown-item text-center small text-gray-500" href="{{ __dashboard.meths.document('notifications').url }}">
        Show All Alerts
    </a>
</div>