{% set notifications = user.getNotifications({ "hidden": 0 }, 0, 4) %}

{% set unseen = user.countNotifications({ "viewed": 0, "hidden": 0 }) %}

{% macro mini(message) %}
    {% set message = Uss.call_user_func('strip_tags', message) %}
    {% set message = Uss.call_user_func('substr', message, 0, 200) %}
    {{ message }}
{% endmacro %}

<div class="notification-box ml-15">
    <div class='d-sm-flex'>
    
        <button class="dropdown-toggle" id="notification" data-bs-toggle="dropdown" aria-expanded="false" type="button">
            <i class="bi bi-bell-fill"></i>
            {% if unseen > 0 %}
                <span class='animate__animated animate__wobble animate__infinite' data-nx-count>{{ unseen }}</span>
            {% endif %}
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification" id="notification-dropdown">
            
            {% if notifications|length %}

                {% for notification in notifications %}
                    
                    <li data-id='{{ notification.id }}'>
                        <a href="{{ (notification.redirect is not empty) ? notification.redirect : 'javascript:void(0)' }}" 
                            class='{{ notification.viewed is same as('0') ? "unviewed" : null }}'
                            data-viewed='1'
                        >
                            <div class="image">
                                <img src="{{ notification.image ? notification.image : user.avatar }}" alt="" />
                            </div>
                            <div class="content">
                                <p class='line-clamp clamp-3'>{{ _self.mini(notification.message) }}</p>
                                <span>{{ Uss.elapse(notification.period) }}</span>
                            </div>
                        </a>
                    </li>

                {% endfor %}

                <li>
                    {# The route is hard coded: Please change it #}
                    
                    <a href="{{ Ud.getArchiveUrl('notifications') }}" class='d-block text-center'>
                        <small> <i class='bi bi-bell me-1'></i> View all </small>
                    </a>
                </li>

            {% else %}

                <li>
                    <h5 class='text-center my-2'>
                        <i class='bi bi-ban text-danger me-1'></i> No Notification
                    </h5>
                </li>

            {% endif %}

        </ul>
        
    </div>
</div>


