{% extends '@Uss/base.html.twig' %}

{% block head_css %}
    {{ parent() }}
    {% set stylesheet = __dashboard.theme('/assets/css/default.css', __dashboard.ENUM.URL) %}
    <link rel="stylesheet" href="{{ stylesheet }}">
{% endblock head_css %}

{% block body_main %}
    
    {% block dashboard_sidebar %}

        <aside class="sidebar-nav-wrapper">

            {% block sidebar_logo %}
                <div class="navbar-logo">
                    <a href="{{ DashboardExtension.urlGenerator('/') }}">
                        <img src="{{ Uss.getOption('company:logo') ?? Uss.globals.icon }}" alt="logo" />
                    </a>
                </div>
            {% endblock %}

            <nav class="sidebar-nav text-capitalize">
                <ul id='nav-group'>
                    {% block dashboard_menu_items %}
                        {% include _theme ~ '/includes/sidebar-items.html.twig' %}
                    {% endblock %}
                </ul>
            </nav>

        </aside>

        <div class="overlay">
            <a href='javascript:void(0)' class='overlay-close'>	
                <i class='bi bi-x-lg'></i>
            </a>
        </div>

    {% endblock %}

    {% block dashboard_main %}

        <main class="main-wrapper">
        
        {% block dashboard_header %}

            <header class="header">
            
                <div class="container-fluid">
                    <div class="row align-items-center">
                    
                        <div class="col-md-6 col-6">
                            <div class="header-left d-flex align-items-center">

                                <div class="menu-toggle-btn mr-20 d-xl-none">
                                    <button id="menu-toggle" class="btn btn-hover">
                                        <i class="bi bi-list"></i>
                                    </button>
                                </div>

                                {% block dashboard_header_left_reserved %}{% endblock %}

                            </div>
                        </div>
                        
                        <div class="col-md-6 col-6">
                            <div class="header-right">

                                {% block dashboard_header_notification %}
                                    {% include _theme ~ '/includes/notifications-top.html.twig' %}
                                {% endblock %}
                                
                                {% block dashboard_header_profile %}
                                    {% include _theme ~ '/includes/profile-menu.html.twig' %}
                                {% endblock %}
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </header>

        {% endblock %} {# Header #}
        
        {% block dashboard_wrapper %}
            <div class='content-wrapper'>
                {% block dashboard_content %}{% endblock %}
            </div>
        {% endblock %} 

        {% block dashboard_footer %}{% endblock %} {# Footer #}

        </main>

    {% endblock %} 

{% endblock %} {# Body #}

{% block body_js %}
    
    {{ parent() }}

    <script src="{{ Uss.abspathToUrl(__dashboard.immutable.ASSETS_DIR ~ '/js/dataMagic.js') }}"></script>

    {% if (user and user.isAvailable()) %}
	    <script src="{{ __dashboard.theme('/assets/js/dashboard.js', __dashboard.ENUM.HTTP) }}"></script>
        <script src='{{ __dashboard.theme('/assets/js/notifications.js', __dashboard.ENUM.HTTP) }}' type='module' ></script>
    {% endif %}

    {% set alerts = Uss.renderBlocks('v-alert') %}
    
    {% if alerts is not null %}
        <script>$(function() { 
            {{ alerts|raw }} 
        });</script>
    {% endif %}

{% endblock %}