{% extends 'base.html.twig' %}

{% set stylesheet = __dashboard.theme('/assets/css/default.css', Uss.ENUM.URL) %}

{% block head_resource %}

    {{ parent() }}
    
    <link rel="stylesheet" href="{{ stylesheet }}">

{% endblock %}


{# Body Block For Uss Dashboard #}

{% block body_main %}
    
    {# Sidebar Block: Includes navigation with logo and menu items #}
    
    {% block dashboard_sidebar %}

        <aside class="sidebar-nav-wrapper">

            {% block sidebar_logo %}
                <div class="navbar-logo">
                    <a href="{{ __dashboard.urlGenerator('/') }}">
                        <img src="{{ Uss.getOption('company:logo') ?? page_icon }}" alt="logo" />
                    </a>
                </div>
            {% endblock %}

            <nav class="sidebar-nav text-capitalize">
                <ul id='nav-group'>
                    {% block dashboard_menu_items %}
                        {% include __dashboard.theme('/includes/nav-aside.html.twig') %}
                    {% endblock %}
                </ul>
            </nav>

        </aside>

        <div class="overlay">
            <a href='javascript:void(0)' class='overlay-close'>	
                <i class='bi bi-x-lg'></i>
            </a>
        </div>

    {% endblock dashboard_sidebar %}

    {# Main Block For Dashboard Content #}
    
    {% block dashboard_main %}

        <main class="main-wrapper">
        
            {# Header section for dashboard #}

            {% block dashboard_header %}

                <header class="header">
                
                    <div class="container-fluid">
                        <div class="row align-items-center">
                        
                            <div class="col-md-6 col-6">
                                <div class="header-left d-flex align-items-center">

                                    <div class="menu-toggle-btn mr-20 d-xl-none">
                                        <button id="menu-toggle" class="btn btn-hover">
                                            <i class="bi bi-list"></i>
                                        </button>
                                    </div>

                                    {% block dashboard_header_void %}{% endblock %}

                                </div>
                            </div>
                            
                            <div class="col-md-6 col-6">
                                <div class="header-right">

                                    {% block dashboard_header_notification %}
                                        {% include __dashboard.theme('/includes/notifications-top.html.twig') %}
                                    {% endblock %}
                                    
                                    {% block dashboard_header_profile %}
                                        {% include __dashboard.theme('/includes/profile-menu.html.twig') %}
                                    {% endblock %}
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </header>

            {% endblock dashboard_header %} 
            
            {% block dashboard_wrapper %}
                <div class='content-wrapper'>
                    {% block dashboard_content %}{% endblock %}
                </div>
            {% endblock %} 

            {% block dashboard_footer %}{% endblock %} {# Footer #}

        </main>

    {% endblock dashboard_main %} 

{% endblock body_main %} 

{# Javascript block for Uss Dashboard #}

{% block body_javascript %}
    
    {{ parent() }}

    <script src="{{ Uss.pathToUrl(__dashboard.immutable.ASSETS_DIR ~ '/js/data-magic.js') }}"></script>

    {% if (user and user.isAvailable()) %}
	    <script src="{{ __dashboard.theme('/assets/js/dashboard.js', Uss.ENUM.URL) }}"></script>
        <script src='{{ __dashboard.theme('/assets/js/notifications.js', Uss.ENUM.URL) }}' type='module' ></script>
    {% endif %}

{% endblock %}