<div class='{{ column_1 ?? 'col-12' }}'>

    {% set enableSMTPField = form.collection('smtp').removeField('smtp[enabled]') %}
    {% set submitButton = form.collection('smtp').removeField('submit') %}

    {{ form.element.openingTag|raw }}

        <div class='col-lg-6 mb-3'>
            <div class="card sticky-lg-top" style="top: 5px;">
                <div class="card-body">
                    <div class='p-3'>
                        {{ form.collection.elementContext.export|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='card'>
                <div class='card-body'>
                    <div class='p-3'>
                        {{ enableSMTPField.elementContext.export|raw }}
                        <hr>
                        {{ form.collection('smtp').elementContext.export|raw }}
                        <hr>
                        {{ submitButton.elementContext.export|raw }}
                    </div>
                </div>
            </div>
        </div>

    {{ form.element.closingTag|raw }}

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            $(function() {
                const field = {
                    item: $('input[type="checkbox"][name="smtp\\[enabled\\]"]').on('change', (e) => field.disabled(!e.target.checked)),
                    disabled: (status) => $('#collection-smtp').prop('disabled', status)
                }
                field.disabled(!field.item.prop('checked')); 
            });
        });
    </script>
</div>

{# {% block body_js %}
    {{ parent() }}
    <script>
        $("#smtp-state input").on("change", function() {
            $("[data-fieldstack='SMTP']").attr("disabled", this.value === 'default');
        });
    </script>
{% endblock %} #}