{% set identifier = '[' ~ widgetName ~ ']' %}
<!-- widget:{{ identifier }} -->
<div class="{{ widgetContentClass|default('col-12') }}" data-widget='{{ widgetName ?? '' }}'>
    {{ widgetContent|raw }}
</div>
<!-- widget-end:{{ identifier }} -->