{% extends _theme ~ '/base.html.twig' %}

{% block dashboard_content %}

    <div class='container-fluid'>

        <div class='mb-3'>
            <a href='{{ official_website }}' target='_blank' class='btn btn-primary btn-sm rounded-1 m-1'>
                <i class='bi bi-globe me-1'></i> Our Website
            </a>
            <a href='{{ official_website }}/documentation' target='_blank' class='btn btn-outline-primary btn-sm rounded-1 m-1'>
                <i class='bi bi-book me-1'></i> Our Documentation
            </a>
            <a href='{{ github_repository }}' target='_blank' class='btn btn-secondary btn-sm rounded-1 m-1'>
                <i class='bi bi-github me-1'></i> Source Code
            </a>
        </div>

        <div class='row'>
            <div class='col-lg-9 mb-4'>
                <div class='card rounded-0'>
                    <div class='card-body px-md-5 py-4'>
                        <h6 class='mb-2 text-danger'>Dashboard V3.0.0</h6>
                        <h1 class='mb-3'>
                            {{ title }}
                        </h1>
                        <figure class='pop-figure'>
                            <div id='pop'></div>
                            {% set image = constant('UserDashboard::ASSETS_DIR') ~ '/images' %}
                            <div class='d-sm-none'>
                                <img src='{{ Uss.abspathToUrl(image ~ '/sunset.jpg') }}' class='img-fluid'>
                            </div>
                            <div class='d-none d-sm-block'>
                                <img src='{{ Uss.abspathToUrl(image ~ '/sunset-cropped.jpg') }}' class='img-fluid'>
                            </div>
                        </figure>
                        <hr>
                        <h4 class='mb-3'>
                            Thank you for installing {{ title }} Dashboard Module
                        </h4>
                        <div class='fs-14px'>
                            <p class='fs-14px'>
                                This is the default welcome (landing) page.
                                You are seeing this page because you have not made any customization.
                                There are several options available for you to modify this page.
                                You can manage one of the following:
                            </p>
                            <ol>
                                <li>Archive:</li>
                                <li>Controller:</li>
                                <li>Twig Template:</li>
                            </ol>
                            <p class='fs-14px'>
                                For more information, <a href='' target='_blank'>read the documentation</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 stretch-card grid-margin">
                <div class="card rounded-0 text-bg-dark">
                    <div class="card-body d-flex align-items-center p-5">
                        <div class="">
                            <h1 class="fs-20px fw-semibold mb-3"> Need Custom Modules?</h1>
                            <p>Build optimized web applications for your business!</p>
                            <p class="fs-10px fw-semibold">Get in touch right away</p>
                            <a class="btn btn-light fs-12px" href='mailto:{{ dev_email }}'>
                                Contact Developer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
    <script>
        party.confetti(document.body.querySelector('#pop'), {
            count: party.variation.range(20, 40),
            size: party.variation.range(0.8, 1.2)
        });
    </script>

{% endblock %}