{% macro createMenuItem(menu) %}

    {% for item in menu.children %}

        {% set itemId = "menu-" ~ item.nodeId %}

        {% set expandable = (item.children|length) and (item.level < 4) %}

        {% set isActive = item.getAttr('active') %}

        {% set isExpanded = isActive or item.getAttr('isExpanded') %}
        
        {% set itemClass = [
            item.level is same as(1) ? "nav-item" : "nav-sub-item",
            expandable ? "nav-item-has-children" : null,
            isActive and not expandable ? "active" : null 
        ] %}
        
        <li class="{{ itemClass[0] }} {{ itemClass[1] }} {{ itemClass[2] }}" data-menu-level='{{ item.level }}'>

            <a href='{{ item.getAttr('href') }}' target='{{ item.getAttr('target') }}'
                {% if expandable %}
                    data-bs-toggle='collapse'
                    data-bs-target='#{{ itemId }}'
                    aria-controls='{{ itemId }}'
                    aria-expanded='{{ isExpanded ? "true" : "false" }}'
                    class="{{ isExpanded ? null : 'collapsed' }}"
                {% endif %}
            >   
                {% if item.level is same as(1) %}
                    <span class='icon'>
                        <i class="{{ item.getAttr('icon') ?? 'bi bi-question-circle' }}"></i>
                    </span>
                {% endif %}
                <span class='text'>{{ item.getAttr('label') }}</span>
            </a>

            {% if expandable %}

                <ul id="{{ itemId }}" class="dropdown-nav collapse {{ isExpanded ? "show" : null }}" 
                    {% if item.level is same as(1) %}
                        data-bs-parent="#nav-group"
                    {% endif %}
                >
                    {{ _self.createMenuItem(item) }}
                </ul>

            {% endif %}

        </li>

    {% endfor %}

{% endmacro %}

{% set menu = DashboardExtension.getDashboardProperty('menu') %}

{{ _self.createMenuItem(menu) }}
