{% extends __dashboard.meths.theme('base.html.twig') %}

{% block head_style %}
	{{ parent() }}
	<style>
		.auth-bg {
			background-image: url("https://images.unsplash.com/photo-1509043759401-136742328bb3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		.auth-bg::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgb(217 217 217 / 93%);
		}
	</style>
{% endblock %}

{% block body_main %}

	<main class="d-flex w-100 h-100 auth-bg">

		<div class="container d-flex flex-column position-relative">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h3">{{ title }}</h1>
							<p class="">{{ subTitle }}</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-3">
									
									{% block authSocial %}
										<div class="d-grid gap-2 mb-3">
											<a class='btn btn-google btn-lg' href='index.html'><i class="fab fa-fw fa-google"></i> Sign in with Google</a>
											<a class='btn btn-facebook btn-lg' href='index.html'><i class="fab fa-fw fa-facebook-f"></i> Sign in with Facebook</a>
											<a class='btn btn-microsoft btn-lg' href='index.html'><i class="fab fa-fw fa-microsoft"></i> Sign in with Microsoft</a>
										</div>
										<div class="row">
											<div class="col"><hr></div>
											<div class="col-auto text-uppercase d-flex align-items-center">Or</div>
											<div class="col"><hr></div>
										</div>
									{% endblock %}

									{% block authForm %}
										<form>
											<div class="mb-3">
												<label class="form-label">Email</label>
												<input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" />
											</div>
											<div class="mb-3">
												<label class="form-label">Password</label>
												<input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" />
												<small>
													<a href='{{ __dashboard.meths.document('recovery').url }}'>Forgot password?</a>
												</small>
											</div>
											<div>
												<div class="form-check align-items-center">
													<input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me" name="remember-me"
														checked>
													<label class="form-check-label text-small" for="customControlInline">Remember me</label>
												</div>
											</div>
											<div class="d-grid gap-2 mt-3">
												<a class='btn btn-lg btn-primary' href='index.html'>Sign in</a>
											</div>
										</form>
									{% endblock %}

								</div>
							</div>
						</div>

						{% block authRedirect %}
							{% set registerDocument = __dashboard.meths.document('register') %}

							{% if registerDocument %}
								<div class="text-center mb-3">
									Don't have an account? <a href='{{ registerDocument.url }}'>Sign up</a>
								</div>
							{% endif %}
						{% endblock %}

					</div>
				</div>
			</div>
		</div>

	</main>

{% endblock %}