{% set indicator = user.notification.count({hidden: 0, seen: 0}) %}

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="pages-blank.html#" id="alertsDropdown" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="bell"></i>
            <span class="indicator">{{ indicator }}</span>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">

        <div class="dropdown-menu-header">
            {{ indicator }} New Notifications
        </div>

        {% 
            set notifications = user.notification.get({
                hidden: 0, 
                seen: 0
            }, 0, 4) 
        %}

        {% set dimension = '35px' %}

        <div class="list-group">

            {% for notification in notifications %}
                <a href="{{ notification.redirect_url }}" class="list-group-item">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <img src='{{ notification.avatar_url ?? user.avatar }}' width='{{ dimension }}' height='{{ dimension }}'>
                        </div>
                        <div class="col-10">
                            <div class="text-muted small mt-1">
                                {{ notification.message }}
                            </div>
                            <div class="text-muted small mt-1">
                                {{ __uss.meths.relativeTime(notification.period) }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            
        </div>

        <div class="dropdown-menu-footer">
            <a href="{{ __dashboard.meths.document('notifications').url }}" class="text-muted">Show all notifications</a>
        </div>

    </div>
</li>