<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

  {% block stylesheet %}
    {% include baselink ~ '/include/theme.style.html.twig' %}
  {% endblock %}

</head>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">

  <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%" >
    <tr>
      <td align="center" valign="top" bgcolor="#ffffff"  width="100%">

      <table cellspacing="0" cellpadding="0" width="100%">

        <tr>
          <td style="border-bottom: 3px solid #3bcdc3;" width="100%">
            <center>
              <table cellspacing="0" cellpadding="0" width="500" class="w320">
                <tr>
                  <td valign="top" style="padding:10px 0; text-align:left;" class="mobile-center">

                    {% block company_info %}

                      {% if company_icon is defined %}
                        <img height="62" src="{{ company_icon }}">
                      {% else %}
                        <h3>{{ company_name }}</h3>
                      {% endif %}

                    {% endblock %}

                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>

        {% block hero_section %}

          <tr>

            <td class='hero' background="{{ cover_photo }}" bgcolor="#64594b" valign="top" style="background: url({{ cover_photo }}) no-repeat center; background-color: #64594b; background-position: center; background-size: {{ cover_photo_size|default('cover') }}">
              <div class='overlay'></div>
              <div style='position: relative;'>
                <center>
                  <table cellspacing="0" cellpadding="0" width="530" height="{{ cover_height }}" class="w320">
                    <tr>
                      <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:left;" class="mobile-center" height="{{ cover_height }}">

                        {% block hero_content %}

                          {% set headline = headline|default('The excellent industry for an unbelievable experience') %}

                          <h2 class='text-white bold'>WELCOME TO {{ company_name }}</h2><br>
                          <h2 class='text-white' style='font-size: 18px'>{{ company_headline|raw }}</h2>

                        {% endblock %}

                      </td>
                    </tr>
                  </table>
                </center>
              </div>
            </td>
          </tr>

        {% endblock %}

        <tr>
          <td valign="top">
            <center>