{# The base template for Uss Dashboard #}
{% extends '@Uss/base.html.twig' %}

{% block head_css %}

    {{ parent() }}

    {% set cssPath = constant('Udash::ASSETS_DIR') ~ '/css/default.css' %}

    <link rel="stylesheet" href="{{ Uss.getUrl(cssPath) }}">

{% endblock head_css %}


{% block body_main %}
    
    {# Dashboard Sidebar #}
    
    {% block dashboard_sidebar %}

        <aside class="sidebar-nav-wrapper">

            <div class="navbar-logo">
                <a href="{{ Udash.linkTo('/') }}">
                    <img src="{{ Uss.getOption('web:icon') ?? Uss.globals.icon }}" height='50px' alt="logo" />
                </a>
            </div>
            
            <nav class="sidebar-nav text-capitalize">
                <ul id='nav-group'>
                    {% block dashboard_menu_items %}
                        {% include '@Udash/menu-items.html.twig' %}
                    {% endblock %}
                </ul>
            </nav>
            
        </aside>

        <div class="overlay">
            <a href='javascript:void(0)' class='overlay-close'>	
                <i class='bi bi-x-lg'></i>
            </a>
        </div>

    {% endblock %}


    {# Dashboard Main #}

    {% block dashboard_main %}

        <main class="main-wrapper">
        
        {# Dashboard Header #}

        {% block dashboard_header %}

            <header class="header">
            
                <div class="container-fluid">
                    <div class="row align-items-center">
                    
                        <div class="col-md-6 col-6">
                            <div class="header-left d-flex align-items-center">

                                <div class="menu-toggle-btn mr-20 d-xl-none">
                                    <button id="menu-toggle" class="btn btn-hover">
                                        <i class="bi bi-list"></i>
                                    </button>
                                </div>

                                {% block dashboard_header_left_reserved %}
                                {% endblock %}

                            </div>
                        </div>
                        
                        <div class="col-md-6 col-6">
                            <div class="header-right">

                                {% block dashboard_header_notification %}

                                    {% include "@Udash/header-notification.html.twig" %}
                                
                                {% endblock %}

                                {# Udash:header/right #}
                                
                                {% block dashboard_header_profile %}

                                    <div class="profile-box ml-1">
                                    
                                        <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="profile-info">
                                                <div class="info">
                                                    <div class="image">
                                                        <img src="{{ user.avatar }}" alt=""/>
                                                        <span class="status"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                        
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">

                                            <li class='mb-1'>
                                                <div class='px-3 py-2 text-end bg-light rounded-1 fs-12px'>
                                                    <span class='text-success'>
                                                        {{ user.username ? user.username : user.email }}
                                                    </span>
                                                    <i class='bi bi-info-circle ms-1'></i>
                                                </div>
                                            </li>

                                            {% block dashboard_user_menu_items %}

                                            {% for item in Udash.userMenu.children %}
                                                    <li>
                                                        <a href="{{ item.getAttr('href') }}" target="{{ item.getAttr('target') }}"> 
                                                            <i class="{{ item.getAttr('icon') ?? "bi bi-question-circle" }}"></i>
                                                            {{ item.getAttr('label') }} 
                                                        </a>
                                                    </li>
                                                {% endfor %}  

                                            {% endblock %}

                                        </ul>
                                        
                                    </div>

                                {% endblock %}
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </header>

        {% endblock %} {# dashboard_header #}
        

        {# Dashboard Wrapper #}

        {% block dashboard_wrapper %}

            <div class='content-wrapper'>
                {% block dashboard_content %}{% endblock %}
            </div>
                    
        {% endblock %} {# Dashboard Wrapper #}


        {# Dashboard Footer #}

        {% block dashboard_footer %}
        {% endblock %}

        </main>

    {% endblock %} {# Dashboard Main #}

{% endblock %} {# Body Main #}


{% block body_js %}
    
    {% set dashboardJs = constant('Udash::ASSETS_DIR') ~ '/js/dashboard.js' %}

    {{ parent() }}

    {% if (user and user.id is not empty) %}
	    <script src="{{ Uss.getUrl(dashboardJs) }}"></script>
    {% endif %}

    {% set alerts = Uss.renderBlocks('__alert') %}

    {% if alerts is not null %}
        <script>$(function() { 
            {{ alerts|raw }} 
        });</script>
    {% endif %}

{% endblock %}