{# {% extends __dashboard.meths.theme('/base.html.twig') %}

{% block dashboard_content %} #}

    <div class="container-xl profile-base">
        
        {% set profileBatch = __dashboard.props.profileBatch %}
        
        {% if profileBatch and profileBatch.children is not empty %}

            <nav class="nav nav-pills profile-base-nav small">

                {% for menuItem in profileBatch.children %}

                    {% set icon = menuItem.getAttribute('icon') %}

                    <a 
                        class="nav-link me-1 {{ menuItem.getAttribute('active') ? 'active' : '' }}" 
                        href="{{ menuItem.getAttribute('href') }}" 
                        target="{{ menuItem.getAttribute('target') }}"
                    >
                        {% if icon is not empty %}
                            <i class='{{ menuItem.getAttribute('icon') }} me-1'></i> 
                        {% endif %}
                        {{ menuItem.getAttribute('label') }}
                    </a>

                {% endfor %}

            </nav>

        {% endif %}

        <hr class="mt-2 mb-4">

        {% block profile_content %}
            <div class="row">
                <!-- [block.start]:profile_content -->
                {{ __uss.renderBlockElements('profile_content', _context)|raw }}
                <!-- [block.end]:profile_content -->
            </div>
        {% endblock %}

    </div>
    
{# {% endblock %} #}