{% extends '@Ud/base.html.twig' %}

{% block dashboard_content %}

    {% set row_size = 'col-md-10 col-lg-9 mx-auto' %}

    <div class='container-fluid'>
        <div class='row'>

                {% block notification_widgets %}

                    {% if notifications|length %}
                        <div class='text-end mb-2 {{ row_size }}' id='notification-widget' data-id='*'>
                            <a href='javascript:void(0)' class='btn btn-sm btn-outline-success' data-viewed='1'>
                                Mark all as read
                            </a>
                        </div>
                    {% endif %}
                
                {% endblock %}

                {% block notification_content %}

                    <div class='mb-4 {{ row_size }}'>
                        <div class='card' id='notification-list'>
                            
                            {% if notifications|length %}

                                {% for notification in notifications %}

                                    <div class="single-notification p-3" data-id='{{ notification.id }}'>
                                        
                                        <a href='{{ notification.redirect ?? 'javascript:void(0)' }}' 
                                            class='notification-redirect {{ notification.viewed is same as('0') ? 'unviewed' : null }}' data-viewed='1'></a>
                                        
                                        <div class="notification">
                                            <div class="image ">
                                                <img src='{{ notification.image ?? user.avatar }}' class=''>
                                            </div>
                                            <div class="content">
                                                <div class='notification-wrapper text-sm text-gray'>
                                                    {{ notification.message|raw }}
                                                </div>
                                                <span class="text-sm text-medium text-gray">
                                                    {{ Uss.elapse(notification.period) }}
                                                    {% if notification.redirect %}
                                                        <i class='mdi mdi-vector-link ms-1'></i>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="action">

                                            <button class="more-btn dropdown-toggle" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </button>
                                            
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                                                <li class="dropdown-item">                                                    
                                                    <a href="javascript:void(0)" class="text-gray text-sm d-block" data-viewed='1'>
                                                        <i class='bi bi-check-circle me-1'></i> Mark as read
                                                    </a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0)" class="text-gray text-sm d-block" data-hidden='1'>
                                                        <i class='bi bi-trash me-1'></i> Remove
                                                    </a>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                        
                                    </div>

                                {% endfor %}
                            
                            {% else %}

                                <div class='text-center py-5' id='notification-empty'>
                                    <div class='px-md-5'>
                                        <div class='row'>
                                            <div class='col-sm-8 m-auto col-lg-6'>
                                                {% set errorImage = constant('Ud\\Ud::ASSETS_DIR') ~ '/images/notification-empty.webp' %}
                                                <img src='{{ Uss.abspathToUrl(errorImage) }}' class='img-fluid'>
                                            </div>
                                        </div>
                                        <h2 class='text-capitalize fw-light'>No Notifications <br> to display</h2>
                                    </div>
                                </div>

                            {% endif %}
                                
                        </div>
                    </div>

                {% endblock %}

                {% block notification_pagination %}

                    {% include '@Ud/includes/paginator.html.twig' with {'nav_class': row_size} %}

                {% endblock %}

        </div>
    </div>

{% endblock %}
