{% extends __dashboard.meths.theme('/base.html.twig') %}

{% block body_main %}

    {{ macros.callToAction({ text: 'worked'}) }}

    <div class="{{ containerClass ?? "row g-0 min-vh-100" }}">

        {% block columnLeft %}

            <div class="{{ columnLeftClass ?? "col-lg-6" }}">
                
                {% block contentLeft %}
                
                    <div class="auth-cover-wrapper">
                        <div class="auth-cover px-sm-5">
                            <div class="title text-center">

                                {% block contentLeftIcon %}
                                    {% set companyIcon = __uss.getOption('company:logo') ?? page_icon %}
                                    {% if companyIcon is not empty %}
                                        <div class='mb-2'>
                                            <img src='{{ companyIcon }}' class='img-fluid user-select-none'>
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block contentLeftTitle %}
                                    <h1 class="text-white mb-2">
                                        {{ __uss.getOption('company:name') ?? page_title }}
                                    </h1>
                                {% endblock %}

                                {% block contentLeftDescription %}
                                    <p class="text-light">
                                        {{ __uss.getOption('company:description') ?? page_description }}
                                    </p>
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                    
                {% endblock %} {# contentLeft #}
                
            </div>

        {% endblock %} {# columnLeft #}

        {% block columnRight %}

            <div class="{{ columnRightClass ?? "col-lg-6" }}">
                        
                {% block contentRight %}

                    <div class="{{ 
                        contentRightClass ?? 
                        "row g-0 align-items-center justify-content-center bg-light p-5 h-100" 
                    }}">
                        <div class="{{ contentMainContainerClass ?? "col-sm-10 col-md-9 m-auto" }}">

                            {% block contentMainBefore %}{% endblock %}

                            {% block contentMain %}
                                {# ADD YOUR FORM COMPONENT HERE #}
                            {% endblock %}

                            {% block contentMainAfter %}{% endblock %}

                        </div>
                    </div>

                {% endblock %} {# contentRight #}

            </div>

        {% endblock %} {# columnRight #}

    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    
    {% set securityUrl = __uss.meths.templateSchema('@Foundation/User/assets/js/security.js', __uss.ENUM.URL) %}

	<script src="{{ securityUrl }}"></script>
{% endblock %}