{% extends '@Mail/skyline/base.html.twig' %}

{% block mail_content_wrapper %}

    <table cellspacing="0" cellpadding="30" width="500" class="w290">
      <tr>
        <td valign="top" style="border-bottom:1px solid #a1a1a1;">

          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td>

                {% block mail_content_intro %}

                  {% if user_title is not empty %}
                    Hi {{ user_title }}, 
                  {% else %}
                    Hello,
                  {% endif %}<br><br>

                  Thank you for choosing our platform. To activate your {{ element|default('product') }}, please enter the following activation code: <br>

                {% endblock %}

                <br>
              </td>
            </tr>
          </table>

          <center>
          <table style="margin: 0 auto;" cellspacing="0" cellpadding="8" width="250">
            <tr>
              <td style="border: 1px solid #a1a1a1; text-align:center;">
                <span style="font-family: Courier;">
                  {{ verification_code|default('OOPs! No Code') }}
                </span>
              </td>
            </tr>
          </table>
          </center>
        </td>
      </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" width="500" class="w320">
      <tr>
        <td>

          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td class="mobile-padding" style="text-align:left;">
              <br>
                {% block mail_content_outro %}

                  If you have any questions or issues, please contact our support team{% if company_email is not empty %} at <a href='mailto:{{ company_email }}'>{{ company_email }}</a>{% endif %}.

                {% endblock %}
              <br>
              <br>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

{% endblock %}